.title{
    display: flex;
    justify-content: center;
    border: solid black 1px;
}

.inputfields{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.databaseContent{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: solid black 1px;
}